@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  background: #000;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
}

.content h2 {
  color: #fff;
  font-size: 8vw;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px purple;
}

.content h2:nth-child(2) {
  color: purple;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }

  .fa-linkedin {
    background: #007bb5;
    color: lavender;
  }

  .fa-spotify {
    background: #00b489;
    color: lavender;
  }

  .fa-google {
    background: #dd4b39;
    color: lavender;
  }

  .fa-envelope {
    background: darkblue;
    color: lavender;

  }


  .fa-github {
    background: purple;
    color: lavender;
  }

  .fa:hover {
    opacity: 0.7;
  }


  .fa {
    padding: 10px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;

  }


  h2 {
    color: purple;
  }

  .my-avatar {
    background-image: url('https://www.csbsju.edu/images/Honors/HPAC/KatieMendel.jpg');
    background-size: cover;
    background-position: top;
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
  }


  body {
    background-color: lavender;
    font-family: "Baskerville", serif;
    font-size: 2vw;
    margin-top: 80px;
    padding: 30px;

  }

  hr {
    height: 1px;
    background-color: black;
    border: none;
  }

  header {
    background-color: purple;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
  }

  header * {
    display: inline;
  }

  header li {
    margin: 20px;
  }

  header li a {
    color: white;
    text-decoration: none;
  }